/* Estilos gerais */
body {
    margin: 0;
    padding: 60px 0px;
    font-family: Arial, sans-serif;
    background-color: #0D1117;
}

/* Faixa superior do mercado */
.top-bar {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    background: black;
    padding: 16px 10px;
    height: 20px;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Wrapper do ticker */
.marquee {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

/* Wrapper do conteúdo para rolagem infinita */
.ticker-wrapper {
    display: flex;
    width: 100%;
    padding: 0 15px;
    animation: scroll 60s linear infinite;
}

/* Estilização das ações */
.ticker-content {
    display: flex;
    gap: 25px;
}

/* Nome das ações em branco */
.stock {
    color: white;
}

/* Estilização dos números: verde para positivo e vermelho para negativo */
.stock .change {
    font-weight: bold;
}

.positive {
    color: #00FF00;
}

.negative {
    color: #FF3333;
}

/* Animação contínua sem espaço */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-1000%);
    }
}

/* Menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#0D1117;
    padding: 10px 20px;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1001;
}

.logo img {
    height: 50px;
}

nav {
    width: 100%;
    position: relative;
    background-color: #0D1117;
    flex-direction: row;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: red;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Promoção */
.promo-bar {
    background-color: #FF3B3F;
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-weight: bold;
    position: fixed;
    top: 120px;
    width: 100%;
    z-index: 1000;
}


.promo-bar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

/* Estilos para a nova seção */
.hero-section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0D1117; /* Cor de fundo para a seção */
    padding: 60px 20px;
    color: white;
}

.hero-section h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    /*text-shadow: 0 0 10px rgba(0, 255, 0, 0.7), 0 0 20px rgba(0, 255, 0, 0.5); /* Efeito de brilho */
}

.hero-section p {
    margin-bottom: 30px;
    font-size: 18px;
}

.hero-button {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #28a745; /* Botão verde */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #00FF00; /* Cor do botão quando hover */
}

/* Estilos para a seção de comparação */
.comparison {
    text-align: center;
    padding: 60px 20px;
    background-color: #0D1117; /* Cor de fundo da seção */
    color: white;
    margin-top: -80px;
}

.comparison h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}

.comparison p {
    font-size: 22px;
    margin-bottom: 30px;
}

/* Estilos da tabela */
table {
    border-collapse: separate;
    border-spacing: 10px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.05); /* Cor escura com transparência */
    border-radius: 10px; /* Bordas arredondadas */
    overflow: hidden; /* Para garantir que as bordas arredondadas apareçam corretamente */ 
}

th, td {
    padding: 15px;
    text-align: center;
    background-color: #ddd;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px; /* Bordas arredondadas em cada célula */
    transition: background-color 0.3s ease;
}

th {
    background-color: rgba(0, 0, 0, 0.1); /* Fundo mais escuro para o cabeçalho */
    color: #fff; /* Texto branco */
}

td {
    background-color: rgba(0, 0, 0, 0.05); /* Fundo claro para as células */
}

td:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Alterar fundo ao passar o mouse */
}

/* Estilo das células que indicam diferença positiva/negativa */
td[data-label="Titanium Capital"] {
    color: green;
}

td[data-label="Outras"] {
    color: red;
}

/* imagem e texto */
.how-it-works {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px; /* Aumenta o espaço entre a imagem e o texto */
    padding: 5px;
    background-color: #0D1117; /* Cor de fundo da seção */
    text-align: left;
    max-width: 1200px; /* Define um limite fixo para evitar expansão excessiva */
    width: 100%;
    margin: auto;
}

.image img {
    width: 100%; /* Usa porcentagem para tornar responsivo */
    max-width: 550px;
    height: auto;
    border-radius: 10px;
}

.text {
    color: white;
    width: 40%; /* Mantém proporção correta entre imagem e texto */
    max-width: 500px;
    text-align: justify;
}

.text h2 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: justify;
}

.text p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

/* Relógio e frase ajustados com a imagem e o texto */
.countdown-container {
    display: flex;
    flex-direction: column; /* Alterei para coluna */
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #0D1117;
    color: white;
    max-width: 1200px;
    width: 100%;
    margin: 40px auto; /* Adicionando espaçamento para separação */
    margin-top: -15px;
}

.countdown-container p {
    font-size: 60px; /* Tamanho maior para a frase */
    font-weight: bold;
    text-align: center;
    width: 80%; /* Limitando a largura da frase */
    margin-bottom: 20px; /* Espaçamento entre a frase e o relógio */
}

#countdown {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center; /* Centralizando o contador */
    font-size: 200px; /* Aumentando o tamanho do relógio */
}

.count-number {
    font-weight: bold;
}

.count-text {
    font-size: 24px; /* Tamanho do texto "minuto" */
    align-self: flex-end; /* Garante que o texto fique alinhado na parte de baixo */
    position: relative; /* Permite mover o texto */
    top: -35px; /* Move o texto para cima */
}

/* Container para as imagens */
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}
    
 /* Estilo para a imagem grande */
.main-image img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Chamada para ação */
.call-to-action {
    background-color: #0D1117; /* Cor de fundo escura para contraste */
    color: white; /* Texto branco */
    padding: 40px 20px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto no centro */
    max-width: 1200px; /* Limita a largura da seção */
    margin: auto; /* Centraliza a seção na página */
    margin-top: -50px;
}

.call-to-action h1 {
    font-weight: bold; /* Deixa o título principal em negrito */
    font-size: 50px; /* Tamanho da fonte para o título principal */
    margin-bottom: 20px; /* Espaço abaixo do título */
}

.call-to-action h2 {
    font-weight: bold; /* Deixa os subtítulos em negrito */
    font-size: 24px; /* Tamanho da fonte para os subtítulos */
    margin-bottom: 10px; /* Espaço abaixo de cada subtítulo */
}
    

/*Cards de preço*/
.card-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px; /* Espaçamento entre os cards */
    padding: 20px;
    max-width: 1200px; /* Largura máxima do container */
    margin: 20px;
    font-family: sans-serif;
    background-color: #1A1A1A;
    color: white;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}


.card {
    background-color: #111111;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    padding: 10px 0;
}

.card-title {
    font-size: 1.2em;
    margin: 0;
}

.card-price {
    font-size: 2em;
     font-weight: bold;
    margin: 5px 0;
}

.card-details{
     font-size: 0.9em;
     margin: 5px 0 10px 0;
}

.card-body {
    padding: 10px 0;
}

.card-body > p{
    font-size: 0.9em;
    margin: 8px 0;
}

.card-body li {
    text-align: justify;
}

.card-button {
    background-color: #28a745; /* Green */
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.card-button:hover {
    background-color: #218838;
}

.card-footer{
    display: flex;
    flex-direction: column;
    gap: 5px; /* Space between buttons in footer */
    padding-top: 10px;
}


.button-renew{
  background-color: #a72828;
}

.button-reset{
   background-color:  #28a745;
}

.card-unavailable {
  background-color: #333333;
}

.button-unavailable {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: not-allowed; /* Indicate not clickable */
    border-radius: 5px;
    margin-bottom: 10px;
    pointer-events: none; /* Disable click */
}

/* Plataforma Blackarrow */
.blackarrow-platform {
    background-color: #0D1117; /* Cor de fundo escura para contraste */
    color: white; /* Texto branco */
    padding: 40px 20px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto no centro */
    max-width: 1200px; /* Limita a largura da seção */
    margin: auto; /* Centraliza a seção */
    margin-top: -30px;
}

.blackarrow-platform h2 {
    font-size: 50px; /* Tamanho do título */
    font-weight: bold; /* Deixa o título em negrito */
    margin-bottom: 20px; /* Espaço abaixo do título */
}

.blackarrow-platform p {
    font-size: 25px; /* Tamanho do parágrafo */
    margin-bottom: 20px; /* Espaço abaixo dos parágrafos */
}

.blackarrow-platform img {
    width: 80%; /* Faz a imagem ocupar 80% da largura do container */
    max-width: 600px; /* Limita o tamanho máximo da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 20px; /* Espaço abaixo da imagem */
}

.blackarrow-platform .btn {
    background-color: #28a745; /* Cor do botão */
    color: white; /* Texto branco */
    padding: 12px 20px; /* Tamanho do botão */
    text-decoration: none; /* Remove o sublinhado do link */
    border-radius: 5px; /* Borda arredondada */
    font-size: 18px; /* Tamanho da fonte */
    display: block; /* Faz o botão se comportar como um bloco */
    width: 200px; /* Definindo largura fixa para o botão */
    margin: 20px auto; /* Centraliza o botão (auto em ambos os lados) */
    transition: background-color 0.3s ease; /* Transição suave para mudança de cor */
}

.blackarrow-platform .btn:hover {
    background-color: #218838; /* Cor do botão ao passar o mouse */
}

/*perguntas frequentes*/

.faq-container h2 {
    margin-top: -80px;
    text-align: center;
    font-size: 40px;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    padding: 150px;
}
    
.faq-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
}
    
.faq-question {
    cursor: pointer;
    position: relative;
    color: #fff;
}
    
.faq-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}
    
.faq-answer {
    display: none;
    color: #fff;
    text-align: justify;
}
    
.active .faq-answer {
    display: block;
}

.active .faq-icon {
    transform: translateY(-50%) rotate(45deg); /* Roda o + para um - quando ativo */
}
    
.faq-icon.active {
    color: red; /* Muda a cor do ícone para vermelho */
}
    
.faq-question.active {
    color: red; /* Muda a cor do texto da pergunta para vermelho */
}

/* Estilo para o botão Junte-se a nós */
.join-us-button {
    text-align: center; /* Alinha o botão no centro */
    margin-top: -100px; /* Espaço acima do botão */
}
    
.join-us-button .btn {
    background-color: #28a745; /* Cor de fundo verde */
    color: white; /* Cor da fonte branca */
    padding: 20px 100px; /* Espaçamento interno (vertical e horizontal) */
    border: none; /* Remove a borda padrão */
    border-radius: 30px; /* Bordas arredondadas */
    font-size: 18px; /* Tamanho da fonte */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block; /* Faz o link se comportar como botão */
    cursor: pointer; /* Altera o cursor para pointer ao passar por cima */
    transition: background-color 0.3s ease; /* Transição suave de cor */
}
    
.join-us-button .btn:hover {
    background-color: #218838; /* Cor do botão quando o mouse passa por cima */
}

/*logo, endereço, menu*/
/* Ajuste do Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.footer-logo img {
    max-width: 150px; /* Ajuste o tamanho conforme necessário */
    margin-bottom: 20px;
}

.footer-address {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

/*isenção de responsabilidade*/
.legal, .final {
    text-align: justify;
    background-color: #0D1117;
    color: #d3d3d3;
    padding: 20px;
}

.legal h3 {
    color: #d3d3d3;
}

.legal p {
    font-size: 14px;
    line-height: 1.5;
}

.legal u, .legal strong {
    color: #ffffff;
}

.final nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -20px;
    flex-wrap: wrap;
}

.final nav a {
    color: #d3d3d3;
    text-decoration: none;
    font-size: 14px;
}

.final p {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
}

/* Posiciona a logo do WhatsApp no canto inferior direito */
.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

/* Define o tamanho da logo */
.whatsapp-icon img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

/* Estilo para os ícones das redes sociais */
.social-icons {
    display: flex;
    justify-content: center;  /* Centraliza os ícones horizontalmente */
    gap: 20px;  /* Espaço entre os ícones */
    margin-top: auto;  /* Garante que os ícones fiquem na parte inferior */
}

/* Estilo para os ícones das redes sociais */
.social-icons {
    display: flex;
    justify-content: center;  /* Centraliza os ícones horizontalmente */
    gap: 20px;  /* Espaço entre os ícones */
    margin-top: auto;  /* Garante que os ícones fiquem na parte inferior */
}

/* Tamanho específico para cada ícone */
.instagram-icon {
    width: 40px;   /* Tamanho específico para o Instagram */
    height: 40px;
}

.facebook-icon {
    width: 50px;   /* Tamanho específico para o Facebook */
    height: 50px;
    margin-top: -5px;
}

.tiktok-icon {
    width: 70px;   /* Tamanho específico para o TikTok */
    height: 70px;
    margin-top: -18px;
}

/* Efeito de hover nos ícones */
.social-icons img:hover {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
}

/* Responsivo */
@media (max-width: 768px) {

    /*faixa de ativos*/
    .top-bar {
        height: 30px;
    }

    /*faixa vermelha*/
    .promo-bar {
        top: 120px;
        font-size: 20px;
    }

    .menu {
        top: 50px;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 15px;
    }
    .logo {
        order: 1;
    }
    .menu-toggle {
        display: block;
        order: 2;
    }
    nav {
        display: none;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background-color: #222;
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }
    
    nav ul {
        flex-direction: column;
        width: 100%;
    }

    .menu.active nav {
        display: flex;
    }

    .hero-section h1 {
        font-size: 30px; /* Reduz o tamanho do título para telas menores */
        margin-top: 100px;
    }

    .hero-section p {
        font-size: 16px; /* Ajusta o tamanho do parágrafo */
        margin-bottom: 20px;
    }

    .hero-button {
        padding: 12px 25px; /* Ajusta o tamanho do botão */
        font-size: 16px; /* Reduz o tamanho da fonte do botão */
        margin-top: -30px;
    }

    .comparison {
        text-align: center;
        padding: 60px 20px;
        background-color: #0D1117; /* Cor de fundo da seção */
        color: white;
        margin-top: -100px;
    }
    
    .comparison h2 {
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    
    .comparison p {
        font-size: 18px;
        margin-bottom: 30px;
    }
    

    /*tabela de diferenças*/

    table {
        display: block;
    }

    thead {
        display: none
    }

    tr {
        display: block;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 8px;
        box-shadow: 0 2px 5px rgba (0, 0, 0, 0.2);
    }

    td {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        text-align: center;
    }

    td:before {
        content: attr(data-label);
        font-weight: bold;
        color: #fff;
        text-align: center;
    }

    /*imagem e texto*/
    .how-it-works {
        flex-direction: column;
        text-align: center;
    }

    .image img, .text {
        width: 80%; /* Aumenta a largura dos elementos para preencher melhor */
        margin-top: -50px;
    }

    .text h2 {
        text-align: center;
    }

    /* Relógio */
    .countdown-container {
    gap: 10px;
    margin-top: -30px;
    }
    
    .countdown-container p, #countdown {
    width: 100%; /* Ajustando largura para dispositivos pequenos */
    font-size: 35px;
    }
    
    .count-number {
    font-size: 80px; /* Tamanho ajustado para dispositivos pequenos */
    }

    .count-text {
    font-size: 12px; /* Tamanho ajustado para dispositivos pequenos */
    position: relative; /* Permite mover o texto */
    top: -15px; /* Move a frase "minuto" um pouco para cima */
    margin-left: -15px; /* Aproxima a frase do número */
    }

    .card-container {
        grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
    }

    /*Chamada para ação*/
    .call-to-action {
        margin-top: -75px;
    }

    .call-to-action h1 {
        font-size: 28px; /* Ajusta o tamanho para dispositivos pequenos */
    }

    .call-to-action h2 {
        font-size: 20px; /* Ajusta o tamanho para dispositivos pequenos */
    }

    /* Estilos dos cards */
    .card {
    background-color: #111111;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .card-header {
    padding: 10px 0;
    }

    .card-title {
    font-size: 1.2em;
    margin: 0;
    }

    .card-price {
    font-size: 2em;
    font-weight: bold;
    margin: 5px 0;
    }

    .card-details {
    font-size: 0.9em;
    margin: 5px 0 10px 0;
    }

    .card-body {
    padding: 10px 0;
    }

    .card-body > p {
    font-size: 0.9em;
    margin: 8px 0;
    }

    .card-button {
    background-color: #28a745; /* Green */
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    }

    .card-button:hover {
    background-color: #218838;
    }

    .card-footer {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Space between buttons in footer */
    padding-top: 10px;
    }

    .button-renew {
    background-color: #28a745;
    }

    .button-reset {
    background-color: #28a745;
    }

    .card-unavailable {
    background-color: #333333;
    }

    .button-unavailable {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: not-allowed; /* Indicate not clickable */
    border-radius: 5px;
    margin-bottom: 10px;
    pointer-events: none; /* Disable click */
    }

    
    /* Plataforma Blackarrow */
    .blackarrow-platform {
        margin-top: -30px;
    }

    .blackarrow-platform h2 {
        font-size: 28px; /* Ajusta o tamanho do título para dispositivos pequenos */
    }

    .blackarrow-platform p {
        font-size: 16px; /* Ajusta o tamanho do parágrafo para dispositivos pequenos */
    }

    .blackarrow-platform img {
        width: 100%; /* Faz a imagem ocupar toda a largura em telas pequenas */
        max-width: none; /* Remove o limite de tamanho máximo */
    }

    .blackarrow-platform .btn {
        font-size: 16px; /* Ajusta o tamanho do botão para dispositivos pequenos */
        padding: 10px 15px; /* Ajusta o tamanho do botão */
    }

    /*perguntas frequentes*/
    .faq-container h2 {
        margin-top: 10px;
    }

    .faq-container {
        padding: 0; /* Reduz o espaçamento interno */
      }
    
      .faq-container h2 {
        font-size: 24px; /* Reduz o tamanho do título */
        margin-bottom: 2px; /* Ajusta o espaçamento inferior */
      }
    
      .faq-question {
        font-size: 18px; /* Reduz o tamanho da pergunta */
        padding: 10px; /* Reduz o espaçamento interno */
      }
    
      .faq-answer {
        font-size: 14px; /* Reduz o tamanho da resposta */
        padding: 10px; /* Ajusta o espaçamento interno */
        text-align: justify;
      }
    
      .faq-icon {
        font-size: 16px; /* Reduz o tamanho do ícone */
      }
    
      /* Estilo para abrir a resposta */
      .faq-item.open .faq-answer {
      display: block; /* Mostra a resposta quando a pergunta é clicada */
      }
    
      .faq-item.open .faq-icon {
      transform: rotate(45deg); /* Roda o ícone "+" em 45 graus */
      }

      /*botão junte-se a nós*/
      .join-us-button {
        display: flex; /* Torna o contêiner flexível */
        justify-content: center; /* Centraliza horizontalmente */
        margin-top: 20px; /* Espaçamento acima */
      }
      
      .join-us-button .btn {
        display: inline-block; /* Garante que o botão seja tratado como um bloco */
        padding: 12px 24px; /* Espaçamento interno do botão */
        background-color: #00cc52; /* Cor de fundo */
        color: #fff; /* Cor do texto */
        font-size: 16px; /* Tamanho da fonte */
        font-weight: bold; /* Destaca o texto */
        text-decoration: none; /* Remove sublinhado */
        border-radius: 8px; /* Bordas arredondadas */
        transition: background-color 0.3s ease; /* Transição suave para hover */
       }
      
      .join-us-button .btn:hover {
        background-color: #009d3c; /* Cor ao passar o mouse */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
       }

       .social-icons {
        margin-top: 20px;
       }

       .footer {
        padding: 10px;
    }

    .footer-logo img {
        max-width: 120px; /* Ajuste o tamanho da logo no celular */
    }

    .footer-address p {
        margin: 5px 0; /* Diminui o espaço entre o endereço e o CNPJ */
    }

    .final nav {
        display: flex !important;
        justify-content: center;
        width: 100%;
    }

    .final nav ul {
        flex-direction: column;
        align-items: center;
        display: flex !important;
        width: 100%;
        padding: 0;
    }

    .legal{
        margin-top: -70px;
        text-align: center;
    }

    .legal p {
        text-align: justify;
    }

    .whatsapp-icon img {
        max-width: 600px;
        width: 50px;
        height: 50px;
    }
}